## Combined_1 (Week 2)

### 18 Jan (Wed)

In [1]:
bool(1)

True

In [2]:
bool(-100)

True

In [3]:
a = 2
if a:
    print("Something inside")

Something inside

In [5]:
type(a == 2)

bool

In [6]:
b = a == 2
type(b)

bool

In [7]:
def function(a):
    if a < 5:
        return a
    else:
        return None

output = function(3)
print(output)

3

In [9]:
outputB = function(6)
print(outputB)

None

In [13]:
if function(8):
    print("Above is true")
else:
    print("not true")

not true

In [14]:
int('10'+'10')

1010

In [15]:
int('10'*3)

101010

In [16]:
5//2

2

In [17]:
mylist = [5,6,7,8,9]
for x in mylist:
    print(x)

5
6
7
8
9

In [18]:
mylist[:3]

[5, 6, 7]

In [20]:
mystring = 'singapore'
mystring[:3]
for char in mystring:
    print(char)

s
i
n
g
a
p
o
r
e

In [24]:
"_".join(['apple','orange'])

'apple_orange'

In [30]:
mylist = [217, 216, 215]
mylist.append(199)

In [31]:
mylist

[217, 216, 215, 199]

In [27]:
[217, 216, 215] + [90, 91, 92]

[217, 216, 215, 90, 91, 92]

In [32]:
mylist.pop(0)   # get from index 0

## if you want the last, do mylist.pop(-1)

217

In [34]:
mylist.pop(1)   ## get from index 1

215

In [35]:
mapper = {
    'STI': 3340,
    'SP500': 4462,
    'FTSE': 7617,
}

In [36]:
mapper

{'STI': 3340, 'SP500': 4462, 'FTSE': 7617}

In [38]:
list(mapper.keys())

['STI', 'SP500', 'FTSE']

In [39]:
for key in mapper.keys():
    print(key)

STI
SP500
FTSE

In [41]:
list(mapper.values())

[3340, 4462, 7617]

In [43]:
list(mapper.items())

[('STI', 3340), ('SP500', 4462), ('FTSE', 7617)]

In [45]:
for a in mapper.items():
    print(a)
    index_name = a[0]
    index_level = a[1]
    print("index_name ", index_name, "index_level ", index_level)

('STI', 3340)
index_name  STI index_level  3340
('SP500', 4462)
index_name  SP500 index_level  4462
('FTSE', 7617)
index_name  FTSE index_level  7617

In [46]:
for index_name, index_level in mapper.items():
    print("index_name ", index_name, "index_level ", index_level)

index_name  STI index_level  3340
index_name  SP500 index_level  4462
index_name  FTSE index_level  7617

In [47]:
newlist = [('a',1,10.0), ('b',2,12.0), ('c',3,13.0)]

In [48]:
for doh, reh, mi in newlist:
    print("doh", doh)
    print("reh", reh)
    print("mi", mi)

doh a
reh 1
mi 10.0
doh b
reh 2
mi 12.0
doh c
reh 3
mi 13.0

In [49]:
[i*j for i in range(5) for j in range(5)]

[0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 0, 3, 6, 9, 12, 0, 4, 8, 12, 16]

In [50]:
something = [(1,2), (3,4), (5,6)]

[a+b for a,b in something]

[3, 7, 11]

## Contents

**Class Exercise (Week 1)** <br>
[Exercise 1.11](#Exercise_1_11) <br>
[Exercise 1.12](#Exercise_1_12) <br>
[Exercise 1.13](#Exercise_1_13) <br>
[Exercise 1.14](#Exercise_1_14) <br>
[Exercise 1.15](#Exercise_1_15) <br>
[Exercise 1.16](#Exercise_1_16) <br>

**Tutorial Questions (Week 2)** <br>
[Question 1.21](#Question_1_21) <br>
[Question 1.22](#Question_1_22) <br>
[Question 1.23](#Question_1_23) <br>
[Question 1.24](#Question_1_24) <br>
[Question 1.25](#Question_1_25) <br>

<a id='Exercise_1_11'></a>

### Exercise 1.11: Frequency of each value in a list

Given a list of values with possible duplicates, you are tasked to count the frequency of each unique value.

In [1]:
long_list = [11, 230, 127, 183, 142, 186, 256, 182, 184, 50, 266, 179, 22, 30, 59, 236, 155, 57, 262, 279, 107, 98, 271, 240, 276, 23, 170, 207, 123, 228, 231, 205, 30, 161, 125, 212, 224, 34, 272, 106, 164, 26, 263, 3, 234, 244, 3, 260, 135, 29, 116, 44, 206, 131, 218, 201, 140, 208, 130, 247, 256, 272, 208, 262, 227, 242, 112, 138, 192, 7, 268, 184, 168, 5, 246, 199, 6, 26, 300, 54, 260, 69, 64, 61, 15, 288, 190, 78, 165, 7, 178, 71, 62, 131, 26, 75, 2, 52, 164, 195, 75, 80, 212, 127, 201, 184, 78, 106, 90, 256, 33, 241, 208, 39, 32, 240, 160, 172, 108, 144, 116, 251, 106, 278, 120, 99, 22, 148, 6, 185, 136, 235, 208, 114, 22, 229, 88, 225, 112, 236, 250, 32, 152, 195, 0, 160, 252, 15, 173, 283, 72, 94, 76, 226, 4, 44, 28, 120, 175, 56, 262, 178, 249, 246, 19, 203, 196, 207, 33, 94, 216, 280, 102, 250, 74, 277, 159, 23, 80, 63, 124, 240, 166, 137, 14, 255, 252, 112, 41, 90, 187, 108, 2, 60, 147, 114, 266, 173, 183, 84, 10, 173, 35, 248, 124, 207, 163, 44, 2, 171, 142, 174, 219, 114, 30, 290, 239, 63, 42, 103, 61, 58, 181, 18, 111, 119, 99, 171, 210, 59, 142, 278, 213, 35, 286, 285, 227, 91, 232, 196, 11, 91, 192, 241, 1, 275, 76, 210, 160, 32, 272, 120, 176, 33, 65, 26, 2, 248, 262, 286, 199, 12, 107, 253, 150, 138, 157, 31, 250, 30, 95, 96, 105, 261, 276, 146, 195, 190, 217, 62, 138, 268, 134, 39, 164, 8, 46, 152, 93, 263, 232, 264, 272, 53, 283, 286, 218, 293, 238, 5, 122, 241, 76, 106, 85, 103, 221, 77, 74, 236, 1, 13, 144, 235, 27, 50, 7, 17, 157, 296, 111, 1, 176, 297, 286, 115, 187, 272, 66, 185, 145, 254, 20, 232, 49, 289, 285, 222, 199, 103, 65, 33, 3, 88, 157, 276, 29, 88, 226, 194, 219, 98, 58, 193, 2, 255, 126, 41, 112, 83, 104, 296, 219, 148, 274, 34, 2, 15, 267, 286, 252, 275, 126, 173, 225, 223, 121, 136, 257, 214, 7, 291, 84, 60, 93, 284, 112, 195, 162, 296, 277, 204, 297, 120, 62, 218, 247, 150, 274, 108, 78, 146, 180, 168, 231, 39, 79, 45, 139, 75, 0, 83, 158, 273, 258, 242, 36, 268, 287, 106, 284, 184, 64, 235, 14, 159, 57, 168, 4, 3, 185, 180, 132, 132, 270, 148, 39, 18, 178, 121, 250, 29, 96, 190, 234, 34, 225, 187, 57, 57, 260, 219, 126, 158, 72, 248, 47, 180, 219, 253, 10, 84, 86, 5, 210, 147, 122, 61, 143, 84, 164, 250, 233, 225, 73, 133, 123, 148, 124, 214, 5, 48, 172, 102, 133, 100, 57, 253, 13, 0, 31, 272, 2, 87, 292, 243, 53, 298, 35, 116, 282, 187, 287, 30, 108, 298, 63, 285, 289, 132, 204, 30, 230, 95, 117, 254, 128, 203, 55, 36, 147, 2, 285, 168, 214, 239, 93, 171, 288, 265, 202, 168, 161, 217, 189, 36, 101, 46, 100, 101, 50, 266, 263, 170, 19, 126, 35, 67, 122, 147, 109, 76, 147, 177, 183, 51, 124, 220, 263, 265, 3, 41, 188, 234, 187, 157, 287, 21, 99, 46, 214, 68, 8, 230, 284, 234, 258, 296, 192, 6, 281, 31, 238, 297, 34, 120, 20, 6, 230, 127, 242, 248, 147, 294, 165, 266, 268, 258, 82, 121, 221, 9, 80, 240, 67, 271, 35, 78, 253, 207, 161, 257, 38, 128, 281, 281, 170, 167, 40, 113, 12, 93, 126, 41, 258, 233, 71, 242, 209, 82, 97, 150, 90, 276, 264, 51, 222, 6, 204, 118, 263, 102, 177, 113, 106, 288, 58, 94, 299, 131, 95, 183, 184, 108, 190, 273, 279, 99, 227, 10, 274, 81, 272, 50, 65, 114, 52, 52, 10, 181, 36, 281, 6, 97, 214, 279, 143, 203, 244, 250, 151, 180, 185, 169, 66, 51, 21, 201, 275, 250, 58, 108, 1, 87, 127, 95, 81, 212, 250, 222, 171, 83, 145, 149, 185, 67, 275, 206, 242, 67, 229, 118, 124, 117, 179, 141, 65, 40, 111, 81, 152, 79, 104, 67, 119, 27, 107, 295, 43, 97, 193, 148, 255, 247, 284, 69, 84, 268, 234, 251, 169, 99, 233, 126, 103, 233, 24, 196, 70, 181, 150, 181, 110, 257, 31, 299, 195, 25, 289, 36, 75, 152, 37, 115, 116, 171, 218, 278, 198, 200, 204, 260, 211, 97, 220, 167, 261, 168, 281, 67, 161, 297, 202, 56, 53, 230, 27, 64, 171, 299, 179, 66, 276, 209, 204, 282, 71, 132, 64, 299, 158, 163, 111, 252, 14, 180, 202, 286, 250, 142, 48, 271, 148, 151, 282, 116, 232, 188, 5, 150, 242, 292, 48, 119, 158, 10, 89, 124, 211, 253, 182, 295, 81, 199, 126, 139, 59, 154, 212, 101, 89, 45, 289, 69, 120, 264, 217, 279, 163, 103, 153, 159, 183, 81, 282, 77, 77, 4, 229, 10, 292, 222, 235, 205, 283, 194, 166, 63, 56, 92, 57, 184, 48, 285, 146, 184, 233, 76, 164, 83, 74, 178, 263, 137, 272, 4, 102, 111, 83, 229, 7, 268, 26, 274, 100, 231, 80, 223, 226, 151, 219, 5, 144, 169, 68, 175, 257, 48, 243, 185, 145, 115, 239, 259, 36, 192, 256, 19, 252, 95, 284, 62, 192, 281, 299, 34, 290, 70, 166, 9, 102, 279, 225, 147, 175, 269, 16, 115, 181, 150, 200, 89, 1, 298, 132, 93, 24, 209, 231, 225, 67, 239, 47, 280, 101, 210, 164, 241, 115, 259, 261, 157, 224, 296, 223, 127, 22, 280, 28, 170, 15, 201, 102, 245, 266, 161, 20, 210, 251, 249, 53, 282, 76, 126, 243, 196, 220, 265, 110, 146, 242, 248, 17, 181, 23, 77, 106, 296, 290, 243, 93]

In [2]:
value_freq = {}
for v in long_list:
    value_freq[v] = value_freq.get(v, 0) + 1

In [3]:
print(value_freq)

{11: 2, 230: 5, 127: 5, 183: 5, 142: 4, 186: 1, 256: 4, 182: 2, 184: 7, 50: 4, 266: 5, 179: 3, 22: 4, 30: 6, 59: 3, 236: 3, 155: 1, 57: 6, 262: 4, 279: 5, 107: 3, 98: 2, 271: 3, 240: 4, 276: 5, 23: 3, 170: 4, 207: 4, 123: 2, 228: 1, 231: 4, 205: 2, 161: 5, 125: 1, 212: 4, 224: 2, 34: 5, 272: 8, 106: 7, 164: 6, 26: 5, 263: 6, 3: 5, 234: 5, 244: 2, 260: 4, 135: 1, 29: 3, 116: 5, 44: 3, 206: 2, 131: 3, 218: 4, 201: 4, 140: 1, 208: 4, 130: 1, 247: 3, 227: 3, 242: 7, 112: 5, 138: 3, 192: 5, 7: 5, 268: 6, 168: 6, 5: 6, 246: 2, 199: 4, 6: 6, 300: 1, 54: 1, 69: 3, 64: 4, 61: 3, 15: 4, 288: 3, 190: 4, 78: 4, 165: 2, 178: 4, 71: 3, 62: 4, 75: 4, 2: 8, 52: 3, 195: 5, 80: 4, 90: 3, 33: 4, 241: 4, 39: 4, 32: 3, 160: 3, 172: 2, 108: 6, 144: 3, 251: 3, 278: 3, 120: 6, 99: 5, 148: 6, 185: 6, 136: 2, 235: 4, 114: 4, 229: 4, 88: 3, 225: 6, 250: 9, 152: 4, 0: 3, 252: 5, 173: 4, 283: 3, 72: 2, 94: 3, 76: 6, 226: 3, 4: 4, 28: 2, 175: 3, 56: 3, 249: 2, 19: 3, 203: 3, 196: 4, 216: 1, 280: 3, 102: 6, 74: 3, 277: 2, 159: 3, 63: 4, 124: 6, 166: 3, 137: 2, 14: 3, 255: 3, 41: 4, 187: 5, 60: 2, 147: 7, 84: 5, 10: 6, 35: 5, 248: 5, 163: 3, 171: 6, 174: 1, 219: 6, 290: 3, 239: 4, 42: 1, 103: 5, 58: 4, 181: 6, 18: 2, 111: 5, 119: 3, 210: 5, 213: 1, 286: 6, 285: 5, 91: 2, 232: 4, 1: 5, 275: 4, 176: 2, 65: 4, 12: 2, 253: 5, 150: 6, 157: 5, 31: 4, 95: 5, 96: 2, 105: 1, 261: 3, 146: 4, 217: 3, 134: 1, 8: 2, 46: 3, 93: 6, 264: 3, 53: 4, 293: 1, 238: 2, 122: 3, 85: 1, 221: 2, 77: 4, 13: 2, 27: 3, 17: 2, 296: 6, 297: 4, 115: 5, 66: 3, 145: 3, 254: 2, 20: 3, 49: 1, 289: 4, 222: 4, 194: 2, 193: 2, 126: 8, 83: 5, 104: 2, 274: 4, 267: 1, 223: 3, 121: 3, 257: 4, 214: 5, 291: 1, 284: 5, 162: 1, 204: 5, 180: 5, 79: 2, 45: 2, 139: 2, 158: 4, 273: 2, 258: 4, 36: 6, 287: 3, 132: 5, 270: 1, 47: 2, 86: 1, 143: 2, 233: 5, 73: 1, 133: 2, 48: 5, 100: 3, 87: 2, 292: 3, 243: 4, 298: 3, 282: 5, 117: 2, 128: 2, 55: 1, 265: 3, 202: 3, 189: 1, 101: 4, 67: 7, 109: 1, 177: 2, 51: 3, 220: 3, 188: 2, 21: 2, 68: 2, 281: 6, 294: 1, 82: 2, 9: 2, 38: 1, 167: 2, 40: 2, 113: 2, 209: 3, 97: 4, 118: 2, 299: 5, 81: 5, 151: 3, 169: 3, 149: 1, 141: 1, 295: 2, 43: 1, 24: 2, 70: 2, 110: 2, 25: 1, 37: 1, 198: 1, 200: 2, 211: 2, 89: 3, 154: 1, 153: 1, 92: 1, 259: 2, 269: 1, 16: 1, 245: 1}

In [51]:
a = [55]*100

In [55]:
## not efficient -- double multiple work
for entry in a:
    a.count(entry)

In [56]:
for entry in set(a):
    print(entry)
    a.count(entry)

55

In [60]:
dictionary = {}
listB = [5,6,7,5,5]

## check whether the key exists
for entry in listB:
    if entry in dictionary.keys():
        dictionary[entry] += 1
    else:
        dictionary[entry] = 1

In [61]:
dictionary

{5: 3, 6: 1, 7: 1}

In [62]:
dictionary.get(5,0)

## this means --> 
## if 5 is in dictionary.keys():
##     return dictionary[5]
## else:
##     return 0

3

In [63]:
dictionary.get(10,'monkey')

'monkey'

<a id='Exercise_1_12'></a>

### Exercise 1.12: Value that first appears at least three times

Given a list of values with possible duplicates, print the first value that appears at least 3 times in the list.

In [4]:
value_freq = {}
for v in long_list:
    f = value_freq.get(v, 0)
    if f == 2:
        print(v)
        break
    value_freq[v] = f + 1

26

In [ ]:
value_freq = {}
for v in long_list:
    f = value_freq.get(v, 0)
    value_freq[v] = f + 1
    if f == 3:
        print(v)
        break

In [ ]:
[1,2,2,2,1,1,1,2]

{1: 4, 2: 4}

<a id='Exercise_1_13'></a>

### Exercise 1.13: Print pattern

Print the following pattern of 10 rows and 19 columns.

```
*******************
---------*---------
********---********
-------*****-------
******-------******
-----*********-----
****-----------****
---*************---
**---------------**
-*****************-
```

In [5]:
print('*' * 19)
for i in range(1,10):
    if i % 2 == 1:
        print('-' * (10 - i) + '*' * (2 * i - 1) + '-' * (10 - i))
    else:
        print('*' * (10 - i) + '-' * (2 * i - 1) + '*' * (10 - i))

*******************
---------*---------
********---********
-------*****-------
******-------******
-----*********-----
****-----------****
---*************---
**---------------**
-*****************-

<a id='Exercise_1_14'></a>

### Exercise 1.14: Geometric progression

Construct a geometric progression given the first term and the ratio between consecutive terms. Then, print the first 20 terms.

In [6]:
first_term, ratio = 512, 1.5

In [7]:
print([first_term * ratio ** i for i in range(20)])

[512.0, 768.0, 1152.0, 1728.0, 2592.0, 3888.0, 5832.0, 8748.0, 13122.0, 19683.0, 29524.5, 44286.75, 66430.125, 99645.1875, 149467.78125, 224201.671875, 336302.5078125, 504453.76171875, 756680.642578125, 1135020.9638671875]

In [8]:
## the following is what the above list-comprehension is effectively doing
holder = []
for i in range(20):
    holder.append(first_term * ratio ** i)
print(holder)

[512.0, 768.0, 1152.0, 1728.0, 2592.0, 3888.0, 5832.0, 8748.0, 13122.0, 19683.0, 29524.5, 44286.75, 66430.125, 99645.1875, 149467.78125, 224201.671875, 336302.5078125, 504453.76171875, 756680.642578125, 1135020.9638671875]

In [66]:
ratio = 1.5

#print([i for i in range(20)])
print([ratio ** i for i in range(20)])
#print([first_term * ratio ** i for i in range(20)])

[1.0, 1.5, 2.25, 3.375, 5.0625, 7.59375, 11.390625, 17.0859375, 25.62890625, 38.443359375, 57.6650390625, 86.49755859375, 129.746337890625, 194.6195068359375, 291.92926025390625, 437.8938903808594, 656.8408355712891, 985.2612533569336, 1477.8918800354004, 2216.8378200531006]

<a id='Exercise_1_15'></a>

### Exercise 1.15: Find start time

Suppose a presentation session at a conference starts at 0825hrs, and each speaker is given 25 minutes to talk. If the speakers present in the ascending order of their last name, find out when Einstein will start his presentation.
- There will be no duplicate surnames
- Take the last word as the surname

In [67]:
physicists = ['Erwin Schroedinger', 'Wolfgang Pauli', 'Max Born', 'Niels Bohr', 'Max Planck', 'Madame Curie', 'Hendrik Antoon Lorentz', 'Albert Einstein', 'Paul Langevin', 'Louis Victor de Broglie', 'Paul Dirac', 'Werner Heisenberg']

In [10]:
surname = [i.split()[-1] for i in physicists]
surname.sort()
v = 8 * 60 + 25 * (surname.index('Einstein') + 1)
print('{:02d}{:02d}hrs'.format(v //60, v % 60))

1030hrs

In [70]:
#[i for i in physicists]
#[i.split() for i in physicists]
[i.split()[-1] for i in physicists]

['Schroedinger',
 'Pauli',
 'Born',
 'Bohr',
 'Planck',
 'Curie',
 'Lorentz',
 'Einstein',
 'Langevin',
 'Broglie',
 'Dirac',
 'Heisenberg']

In [4]:
physicists = ['Erwin Schroedinger', 'Wolfgang Pauli', 'Max Born', 'Niels Bohr', 'Max Planck', 'Madame Curie', 'Hendrik Antoon Lorentz', 'Albert Einstein', 'Paul Langevin', 'Louis Victor de Broglie', 'Paul Dirac', 'Werner Heisenberg']
surname = [i.split()[-1] for i in physicists]
surname.sort()
print(surname.index('Einstein'))

5

<a id='Exercise_1_16'></a>

### Exercise 1.16: list words that have appeared at least 4 times

Given a string of words, list all words (in any order) that have appeared 4 times or more. (For context, the following is taken from one of Lee Kuan Yew's speeches https://www.nas.gov.sg/archivesonline/data/pdfdoc/lky19650912a.pdf in 1965, with minor changes to some punctuations)

*Note: This is different from the SCORM lecture which involves one of Donald Trump's speech*

In [6]:
speech = """
But I say to you. Here we make the model multi-racial society. 
This is not a country that belongs to any single community. It belongs to all of us. 
You helped built it, your fathers, your grandfathers helped build this.
There was no naval base here, and it is not the British who built it. 
It was your labour, your father’s labour which built that. My grandfather come here and built. 
Yes, he came here looking for his fortune, but he stayed — my grandfather was born here.
Over 100 years ago, this was a mud-flat, swamp. Today, this is a modern city. 
Ten years from now, this will be a metropolis. Never fear.
"""

In [7]:
speech

'\nBut I say to you. Here we make the model multi-racial society. \nThis is not a country that belongs to any single community. It belongs to all of us. \nYou helped built it, your fathers, your grandfathers helped build this.\nThere was no naval base here, and it is not the British who built it. \nIt was your labour, your father’s labour which built that. My grandfather come here and built. \nYes, he came here looking for his fortune, but he stayed — my grandfather was born here.\nOver 100 years ago, this was a mud-flat, swamp. Today, this is a modern city. \nTen years from now, this will be a metropolis. Never fear.\n'

In [8]:
example = 'fullstopstop.'

In [9]:
#example.replace('.','')
example.replace('stop','start')

'fullstartstart.'

In [10]:
[w for w in speech.split()]

['But',
 'I',
 'say',
 'to',
 'you.',
 'Here',
 'we',
 'make',
 'the',
 'model',
 'multi-racial',
 'society.',
 'This',
 'is',
 'not',
 'a',
 'country',
 'that',
 'belongs',
 'to',
 'any',
 'single',
 'community.',
 'It',
 'belongs',
 'to',
 'all',
 'of',
 'us.',
 'You',
 'helped',
 'built',
 'it,',
 'your',
 'fathers,',
 'your',
 'grandfathers',
 'helped',
 'build',
 'this.',
 'There',
 'was',
 'no',
 'naval',
 'base',
 'here,',
 'and',
 'it',
 'is',
 'not',
 'the',
 'British',
 'who',
 'built',
 'it.',
 'It',
 'was',
 'your',
 'labour,',
 'your',
 'father’s',
 'labour',
 'which',
 'built',
 'that.',
 'My',
 'grandfather',
 'come',
 'here',
 'and',
 'built.',
 'Yes,',
 'he',
 'came',
 'here',
 'looking',
 'for',
 'his',
 'fortune,',
 'but',
 'he',
 'stayed',
 '—',
 'my',
 'grandfather',
 'was',
 'born',
 'here.',
 'Over',
 '100',
 'years',
 'ago,',
 'this',
 'was',
 'a',
 'mud-flat,',
 'swamp.',
 'Today,',
 'this',
 'is',
 'a',
 'modern',
 'city.',
 'Ten',
 'years',
 'from',
 'now,',
 'this',
 'will',
 'be',
 'a',
 'metropolis.',
 'Never',
 'fear.']

In [11]:
[n for n in speech.replace('.', ' ').replace(',', ' ').split()]

['But',
 'I',
 'say',
 'to',
 'you',
 'Here',
 'we',
 'make',
 'the',
 'model',
 'multi-racial',
 'society',
 'This',
 'is',
 'not',
 'a',
 'country',
 'that',
 'belongs',
 'to',
 'any',
 'single',
 'community',
 'It',
 'belongs',
 'to',
 'all',
 'of',
 'us',
 'You',
 'helped',
 'built',
 'it',
 'your',
 'fathers',
 'your',
 'grandfathers',
 'helped',
 'build',
 'this',
 'There',
 'was',
 'no',
 'naval',
 'base',
 'here',
 'and',
 'it',
 'is',
 'not',
 'the',
 'British',
 'who',
 'built',
 'it',
 'It',
 'was',
 'your',
 'labour',
 'your',
 'father’s',
 'labour',
 'which',
 'built',
 'that',
 'My',
 'grandfather',
 'come',
 'here',
 'and',
 'built',
 'Yes',
 'he',
 'came',
 'here',
 'looking',
 'for',
 'his',
 'fortune',
 'but',
 'he',
 'stayed',
 '—',
 'my',
 'grandfather',
 'was',
 'born',
 'here',
 'Over',
 '100',
 'years',
 'ago',
 'this',
 'was',
 'a',
 'mud-flat',
 'swamp',
 'Today',
 'this',
 'is',
 'a',
 'modern',
 'city',
 'Ten',
 'years',
 'from',
 'now',
 'this',
 'will',
 'be',
 'a',
 'metropolis',
 'Never',
 'fear']

In [12]:
word = [w.lower() for w in speech.replace('.', ' ').replace(',', ' ').split()]
word_count = {}
for w in word:
    word_count[w] = word_count.get(w, 0) + 1
print([w for w, c in word_count.items() if c >= 4])

['here', 'this', 'a', 'it', 'built', 'your', 'was']

In [84]:
word_count.items()

dict_items([('but', 2), ('i', 1), ('say', 1), ('to', 3), ('you', 2), ('here', 5), ('we', 1), ('make', 1), ('the', 2), ('model', 1), ('multi-racial', 1), ('society', 1), ('this', 5), ('is', 3), ('not', 2), ('a', 4), ('country', 1), ('that', 2), ('belongs', 2), ('any', 1), ('single', 1), ('community', 1), ('it', 5), ('all', 1), ('of', 1), ('us', 1), ('helped', 2), ('built', 4), ('your', 4), ('fathers', 1), ('grandfathers', 1), ('build', 1), ('there', 1), ('was', 4), ('no', 1), ('naval', 1), ('base', 1), ('and', 2), ('british', 1), ('who', 1), ('labour', 2), ('father’s', 1), ('which', 1), ('my', 2), ('grandfather', 2), ('come', 1), ('yes', 1), ('he', 2), ('came', 1), ('looking', 1), ('for', 1), ('his', 1), ('fortune', 1), ('stayed', 1), ('—', 1), ('born', 1), ('over', 1), ('100', 1), ('years', 2), ('ago', 1), ('mud-flat', 1), ('swamp', 1), ('today', 1), ('modern', 1), ('city', 1), ('ten', 1), ('from', 1), ('now', 1), ('will', 1), ('be', 1), ('metropolis', 1), ('never', 1), ('fear', 1)])

In [83]:
[x for x in word_count.items()]

[('but', 2),
 ('i', 1),
 ('say', 1),
 ('to', 3),
 ('you', 2),
 ('here', 5),
 ('we', 1),
 ('make', 1),
 ('the', 2),
 ('model', 1),
 ('multi-racial', 1),
 ('society', 1),
 ('this', 5),
 ('is', 3),
 ('not', 2),
 ('a', 4),
 ('country', 1),
 ('that', 2),
 ('belongs', 2),
 ('any', 1),
 ('single', 1),
 ('community', 1),
 ('it', 5),
 ('all', 1),
 ('of', 1),
 ('us', 1),
 ('helped', 2),
 ('built', 4),
 ('your', 4),
 ('fathers', 1),
 ('grandfathers', 1),
 ('build', 1),
 ('there', 1),
 ('was', 4),
 ('no', 1),
 ('naval', 1),
 ('base', 1),
 ('and', 2),
 ('british', 1),
 ('who', 1),
 ('labour', 2),
 ('father’s', 1),
 ('which', 1),
 ('my', 2),
 ('grandfather', 2),
 ('come', 1),
 ('yes', 1),
 ('he', 2),
 ('came', 1),
 ('looking', 1),
 ('for', 1),
 ('his', 1),
 ('fortune', 1),
 ('stayed', 1),
 ('—', 1),
 ('born', 1),
 ('over', 1),
 ('100', 1),
 ('years', 2),
 ('ago', 1),
 ('mud-flat', 1),
 ('swamp', 1),
 ('today', 1),
 ('modern', 1),
 ('city', 1),
 ('ten', 1),
 ('from', 1),
 ('now', 1),
 ('will', 1),
 ('be', 1),
 ('metropolis', 1),
 ('never', 1),
 ('fear', 1)]

In [86]:
#[w for w, c in word_count.items()]
[c for w, c in word_count.items()]

[2,
 1,
 1,
 3,
 2,
 5,
 1,
 1,
 2,
 1,
 1,
 1,
 5,
 3,
 2,
 4,
 1,
 2,
 2,
 1,
 1,
 1,
 5,
 1,
 1,
 1,
 2,
 4,
 4,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 2,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

## [Sample solution] Tutorial 1

<a id='Question_1_21'></a>

### Question 1.21: Find the pair of nearest points

Given a list of 200 2-dimensional points, find the two points which are has the smallest Euclidean distance apart.

In [14]:
points = [[1.6917766692855842, -5.755629277630385], [7.675827069862372, 7.301699114949773], [-3.2909129520196334, 9.613848011649935], [-9.085072103632527, -1.494685042518995], [-1.4697584875414886, -2.7246611030972367], [-2.976539234942413, -4.837062248394437], [-5.764304539098299, 2.993570134491293], [-7.315877529023922, -9.705105482173941], [1.707258575977411, 8.485934115270496], [-8.351619858350414, -5.223846451971372], [-5.828795444668502, 3.976366472397393], [8.720271552698694, -3.2124379846092825], [-0.4054482808742037, 9.317930145526955], [6.510986951874475, -2.1819354371980904], [-2.9962592160097756, -7.31509680893523], [9.083360339101048, 7.829967068419251], [-1.3331436878552552, 3.1603946549411432], [6.458132015006093, 8.822434340960669], [7.16827365354672, -3.4508012637846512], [-5.326845746838891, 9.040483027647156], [4.876441225663108, 5.232449738531539], [8.712743288792506, -3.7280349050848205], [7.466241207765329, 2.379265289757564], [-0.9978936202890551, 1.6449368506129112], [-2.6773431893653266, -0.40694827311359916], [-1.8106293810449987, 2.213838668872807], [4.947071131296752, 3.8097106485733008], [5.950466307087394, -7.2512068192895125], [-1.1945786627066717, -5.044692372482798], [2.8811835000735186, 8.851997733796221], [-0.2955365925438471, -9.53917142360364], [-2.011593976593165, -3.542159913868959], [-5.769156935219925, -5.5530087458111606], [9.295871879150603, -3.1240063531616125], [9.756200956431801, 6.479447636789221], [0.8652659943599339, 7.223803402253235], [-3.0332492431783713, -2.1682838845029355], [-0.46657573289961896, 6.8578688639078464], [-2.8117123795590304, -9.572150259865635], [7.203169784969749, 8.753192289873127], [5.224452974702636, 6.857696807277627], [-0.049900556065052726, -1.6942071762016973], [3.5917999402331073, 5.805997834258715], [-5.726479558318768, -7.825976148522635], [4.4719508762928974, -0.47119270370785493], [-8.51658927302788, 9.019684845294073], [9.998303580126834, 1.0909413091749443], [-7.490707783997972, -4.918960983306291], [-2.3814557996463215, 0.4179856971303444], [-4.74392775076129, -4.954224114510013], [-3.3798603785546284, 7.4349511827236405], [3.348941636633935, -4.119066801277675], [3.069597715313229, 8.095932206766918], [-9.977767715384749, 6.31860517880245], [-7.694480444296634, -2.2312884198209426], [7.009378799427232, -9.813278209833005], [-6.892764172568169, 0.4037318298032808], [1.934551861184664, 9.647259153474256], [-1.684970151131278, 6.715523798836713], [4.778791910872442, -6.302597588632741], [7.880213948051896, -6.87757837319777], [3.018764954167871, 9.55577737941606], [9.442098648513728, -1.7971299117298027], [4.294009056182848, 2.9257922144291086], [-7.488141519192402, 3.194146869954558], [4.4044943363257865, 3.47156887284239], [-5.265210866237737, 0.935707859404797], [1.0874401120301478, 4.769687266008177], [3.6677610968015735, 2.329559760946882], [1.3264496075559418, 6.8853295396453476], [2.5218992542292025, -5.3065171699363445], [-6.891179995601471, 1.4638922450737049], [-4.104604058398198, -0.3519967592988227], [-6.387767854843327, -4.577263623649737], [5.677380281111347, -7.529320047947541], [6.8499814135785435, 2.7651117469683975], [4.524713991980372, 7.031248939975825], [-6.219936466401483, 6.892438002621454], [7.118149238188241, -9.529551925292782], [4.114057119430395, -2.8804850370519564], [1.1264331754207308, 9.342444010097452], [-3.3387597997519496, -1.030669371597714], [2.754752556298641, -3.8303761593096564], [2.909388807772359, -5.627376431102753], [4.069630695597288, 4.094098821729082], [-0.22956514974007902, -4.58853096311544], [7.534625539128605, -4.639398935950235], [4.0975226435368235, 1.7820187555361073], [4.523097584062741, 1.049588730388077], [8.417023917682236, 0.1800789755507548], [0.7221429129456567, 6.043776101932181], [7.951069747757323, 3.5232376580146934], [4.436388479108524, 1.9518412860140444], [0.8948126626225257, 1.6870313023848187], [-8.572283501649252, 7.636418415404268], [-7.598099763010668, 9.74677805351963], [-5.474665381459111, -0.09997403697378004], [-9.62348607265123, 8.1817556106746], [4.832941301248653, -7.471586076153429], [0.05489249120935469, 4.427018862646381], [-0.7623078015360356, -4.907223326092369], [5.034440191453175, -7.262422368215999], [0.6749115867488484, 1.0617316506040897], [-5.1257522163309694, 3.0558877666004243], [7.989879083992175, 6.113310630467961], [-6.717271141351702, 6.257733867841495], [2.983926361240556, 3.042070100993019], [5.110723815722771, 9.969387392449438], [7.979605659313002, -3.119594793941558], [2.8722736848244175, -8.92267951192901], [1.4725245815339516, 7.7370401415203425], [5.418909068505318, -9.899664895856628], [-0.3293559589320534, -9.437455767069785], [-5.34092368773914, 0.9864061312783186], [-5.154479072122699, 6.40140805792705], [-0.9157534309671682, -3.9493086221799834], [6.995617487705161, 4.338249584691781], [-4.621252431635439, -5.671606152930753], [-7.925718226173945, 5.084347460461391], [-9.208656699649092, 2.2542831481077954], [2.677446578667597, -2.815260402542414], [1.5725772741199417, 5.984661070798369], [-8.214349445840588, 2.8719923126330187], [-5.250694847383057, 8.186106947277043], [-9.602658269493816, 9.444386484846465], [9.115835186422256, 5.871935528361178], [-2.5287196350232737, 2.887246469932851], [-2.1372641737135734, -1.8391371234033809], [-1.1082552861090988, -4.2077726793698496], [4.629226584152599, -1.8924358944589734], [-5.2525786527691665, -9.369867782433111], [9.689666432703984, 8.631856666441546], [-3.1058640538038906, -7.112691119818997], [3.8351850067247675, -7.816140083215879], [8.059420357182002, -3.9918994148213045], [8.987126313071869, 9.670169215984295], [-8.004125422134386, -7.1932295635881065], [-0.06738368787870286, 4.151225812072738], [-6.321804627995416, 6.465945820534664], [-6.272914208292708, -6.651387059839684], [-0.650918077356728, 1.1571804929060008], [9.900367553654284, -9.549655307552209], [-5.356214337566534, -1.5157332931067398], [-5.493398811827042, -5.103215154502985], [4.394427744530926, -6.258852539216266], [0.651214329260787, 8.205110848341754], [-2.887747978726665, 0.45437176710394667], [7.2358298248090875, -0.7626602653399406], [-1.6802984837606445, -1.521300620569285], [6.2871381561148745, 7.550379731999151], [8.828265968582258, -5.450358190359445], [-2.771419010097665, 4.965733736649366], [7.283791183364258, -9.330647069466309], [1.1503066518591716, -1.494280922589116], [5.430985505849231, 3.6506997889161177], [6.368883543730131, 2.5665925873045214], [8.27268807049646, -2.8108071086508613], [-8.761049538238906, -1.6668399813187218], [6.969563475322449, 4.870653532707438], [-3.8088639686044923, -8.04770050129066], [-6.588753626385426, -5.479445503860109], [0.3628758153674525, -7.375003116652234], [4.2110293083088735, -8.173588108962464], [9.109404060819152, 5.0945898294577425], [1.202164552896999, -6.704377860207917], [3.678524338607412, -6.480872921026548], [-9.2398934138698, 9.76162162677548], [5.014304634637492, -2.4366142669971076], [-0.7032174537587714, -8.412492474901585], [-7.914280615312719, -9.611747935706859], [8.375659961940777, 8.983443372571148], [-3.3398204611856848, -4.1187025796210825], [7.776476441020563, -2.147519947412942], [6.021515870950164, 9.586902937160275], [5.399893902345628, -4.2287458010492145], [1.1876175402532994, -1.6866656645274158], [9.74486427533984, 4.557794093707109], [-9.224676163399579, -2.700399005920211], [0.8443253817877387, 5.148506043849885], [3.8089155234248278, -0.08432848625492895], [8.657341530126452, 9.731798284743121], [5.54498708607046, -9.173588536034211], [-3.324039445073714, 9.816471573057132], [3.4925222371530076, -4.5624259495605095], [-9.58522266877101, -2.958387712219963], [-6.1029158407825275, 0.3190439014138118], [2.9081452608597242, 0.15094304627423938], [8.14261912316013, 0.14005581572142312], [-9.86297822478999, 9.9630163124958], [2.8257928317496344, -2.7283387054290165], [3.7547434905675114, -1.7952181505798883], [-5.749168201073395, 6.1766418276003705], [-4.680119791390682, 8.930237286122129], [-3.953594775616896, 6.842726263223426], [8.502438568323704, -0.7444855789600986], [-2.9955321537705615, 3.3497140964060073], [-2.1949766474129113, 2.0897368044250157], [8.72756539060871, 4.6607545572283104], [-4.153754350587191, 2.3678095388120113], [4.862091715463841, 2.1254725176755827]]

In [15]:
min_dist = float('inf')
n = len(points)
for i in range(n):
    for j in range(i+1, n):
        d = (points[i][0] - points[j][0]) ** 2 + (points[i][1] - points[j][1]) ** 2
        if d < min_dist:
            min_dist = d
            saved_pt_1 = [points[i][0], points[i][1]]   # points[i]
            saved_pt_2 = [points[j][0], points[j][1]]   # points[j]
print('min distance is {0:.3f} between point {1} and point {2}'.format(min_dist**0.5, saved_pt_1, saved_pt_2))

min distance is 0.091 between point [-5.265210866237737, 0.935707859404797] and point [-5.34092368773914, 0.9864061312783186]

<a id='Question_1_22'></a>

### Question 1.22: Find longest palindrome

A palindrome is a sequence of characters that reads the same backwards as forwards. For example, 'madam' is a palindrome. Given a string s, find the longest palindrome present within that string. If there are two palindromes are of same length, return the one that appears first. <br>

In [3]:
s = 'abbabcdefghijihgfedcbaaabbbbaaaabbaaaabbbbaaabc'

In [4]:
n = len(s)
palindrome = {}

# find palindromes with odd number of char
for i in range(n):
    j = 1                           
    while j <= i and j < n - i:               # consider strings center at [i], from index i-j to index i+j
        if s[i-j] != s[i+j]:
            break                             # break when the characters do not match
        j += 1
    if 2 * j - 1 not in palindrome:   # 2*j-1 is length of the 'eve'
         palindrome[2*j-1] = s[i-j+1:i+j]   # s[i-j+1:i+j] is 'eve'

# find palindromes with even number of char
for i in range(n-1):
    if s[i] == s[i+1]:                        # consider strings center at [i] and [i+1]
        j = 1
        while j <= i and j < n - i - 1:       # from index i-j to index i+1+j
            if s[i-j] != s[i+1+j]:
                break
            j += 1
        if 2 * j not in palindrome:
            palindrome[2*j] = s[i-j+1:i+1+j]

#print(palindrome)
longest = max(palindrome.keys())
print("The longest palindrome is", palindrome[longest])

# longest is the dictionary's key (eg. 4)
# palindrome[longest] is the corresponding value (eg. 'oooo')

The longest palindrome is cbaaabbbbaaaabbaaaabbbbaaabc

<a id='Question_1_23'></a>

### Question 1.23 : Largest number in a string

In a **single scan**, find the largest number in a string if we were to cast a slice of the string to float.

In [5]:
s = 'abc123def456.789.012345.6789-12345678.9012311111.456$#@'

## s = 7.89.8a

In [6]:
n = len(s)
max_float = 0.0
first, second = '0', '0'
for i in range(n):
    if s[i].isdigit():
        first += s[i]                             # concatenate the new digit
        second += s[i]
    elif s[i] == '.':
        max_float = max(max_float, float(second)) # settle the second buffer which may contain a decimal
        second = first + '.'                      # then, make a new standby buffer for a decimal with '.' 
        first = '0'                               # then, make a new buffer for an integer without '.'
    elif len(first) > 1 or len(second) > 1:       
        max_float = max(max_float, max(float(first), float(second)))  # settle the digits in the buffers and then reset
        first, second = '0', '0'

max_float = max(max_float, max(float(first), float(second)))
print(max_float)

9012311111.456

<a id='Question_1_24'></a>

### Question 1.24: primality test algorithm

Given an integer, determine whether it is a prime number (return True or False). A prime number is only divisible by one and itself.

In [7]:
# naive algorithm

n = 991
is_prime = True              # initialize
for i in range(2, n):        # check for all possible factors from 2 to n-1
    if n % i == 0:
        is_prime = False     # set is_prime to False if divisible

print(is_prime)   # the only way to remain True is to never enter the 'if-block'

True

In [8]:
# improvement 1: early stopping

is_prime = True
for i in range(2, n):
    if n % i == 0:
        is_prime = False
        break                # break out of the for loop

print(is_prime)

True

In [9]:
# improvement 2: check odd numbers

is_prime = True
if n % 2 == 0:                   # check whether n is an even number
    is_prime = False
else:                                
    for i in range(3, n, 2):     # starting from 3, increment by 2 at each step     
        if n % i == 0:           # n is divisible by i
            is_prime = False
            break
print(is_prime)

True

In [92]:
for i in range(3,9,2):
    print(i)

3
5
7

In [10]:
# improvement 3

is_prime = True
if n % 2 == 0:
    is_prime = False
else:
    for i in range(3, int(n**0.5)+1, 2):   # only check until sqrt(n)
        if n % i == 0:
            is_prime = False
            break
print(is_prime)

True

<a id='Question_1_25'></a>

### Question 1.25: Sudoku checker

Sudoku is a game where each row, each column, and each of the nine 3 × 3 subgrids that compose the full grid contain all digits from 1 to 9. Given a sudoku set-up represented by a list of nine strings, with each string comprising nine characters (either a space or a digit between 1 and 9), return the list of possible values for each cell.
<br>
When there is uncertainty, you are allowed to list multiple values for one cell, after removing the impossible values for each cell. *Note: Each cell can be treated as though it was attempted the beginning of the game, ie. there is no need for any look-ahead knowledge.*

#### Hint:
1. Build the initial sudoku board with -1 being unfilled ==> the board is a 2-dimensional array
2. Build a list of possible values for each cell ==> this should be a 3-dimensional array
3. If a cell is marked with a value `v`<br>
3a) other cells in the same row should mark `v` as impossible<br>
3b) other cells in the same column should mark `v` as impossible<br>
3c) the 3x3 square where this cell is in should mark `v` as impossible<br>
4. Output the list of possible values for each empty cell

In [96]:
sudoku1 = [
    '  7   1  ', 
    ' 59   23 ', 
    '823   456', 
    '51     78', 
    '9  1 3  4', 
    '  42 89  ', 
    ' 753 689 ', 
    ' 86   71 ', 
    ' 9     4 '
]

In [ ]:
# gi = row // 3
## row 0/1/2 gives gi = 0
## row 3/4/5 gives gi = 1
## row 6/7/8 gives gi = 2

In [93]:
[[-1] * 9 for _ in range(9)]

[[-1, -1, -1, -1, -1, -1, -1, -1, -1],
 [-1, -1, -1, -1, -1, -1, -1, -1, -1],
 [-1, -1, -1, -1, -1, -1, -1, -1, -1],
 [-1, -1, -1, -1, -1, -1, -1, -1, -1],
 [-1, -1, -1, -1, -1, -1, -1, -1, -1],
 [-1, -1, -1, -1, -1, -1, -1, -1, -1],
 [-1, -1, -1, -1, -1, -1, -1, -1, -1],
 [-1, -1, -1, -1, -1, -1, -1, -1, -1],
 [-1, -1, -1, -1, -1, -1, -1, -1, -1]]

In [95]:

possible = [[[True] * 10 for _ in range(3)] for _ in range(3)]
possible

[[[True, True, True, True, True, True, True, True, True, True],
  [True, True, True, True, True, True, True, True, True, True],
  [True, True, True, True, True, True, True, True, True, True]],
 [[True, True, True, True, True, True, True, True, True, True],
  [True, True, True, True, True, True, True, True, True, True],
  [True, True, True, True, True, True, True, True, True, True]],
 [[True, True, True, True, True, True, True, True, True, True],
  [True, True, True, True, True, True, True, True, True, True],
  [True, True, True, True, True, True, True, True, True, True]]]

In [98]:
for s in sudoku1:
    print(s)
    print(type(s), len(s))
    break

  7   1
<class 'str'> 9

In [104]:
string = 'machinelearning'
print(string[0])
print(string[1])

m
a

In [103]:
print(s[0])
print(s[1])

In [106]:
row = 0
for s in sudoku1:
    for col in range(9):
        if s[col] != ' ':
            v = int(s[col])
            print(v)
            print("row", row, "col", col)
    break

7
row 0 col 2
1
row 0 col 6

In [108]:
row = 0
for s in sudoku1:
    for col in range(9):
        if s[col] != ' ':
            v = int(s[col])
            for jj in range(9):
                if jj != col:
                    print("row", row, "jj", jj, "v", v)
            break

row 0 jj 0 v 7
row 0 jj 1 v 7
row 0 jj 3 v 7
row 0 jj 4 v 7
row 0 jj 5 v 7
row 0 jj 6 v 7
row 0 jj 7 v 7
row 0 jj 8 v 7
row 0 jj 0 v 5
row 0 jj 2 v 5
row 0 jj 3 v 5
row 0 jj 4 v 5
row 0 jj 5 v 5
row 0 jj 6 v 5
row 0 jj 7 v 5
row 0 jj 8 v 5
row 0 jj 1 v 8
row 0 jj 2 v 8
row 0 jj 3 v 8
row 0 jj 4 v 8
row 0 jj 5 v 8
row 0 jj 6 v 8
row 0 jj 7 v 8
row 0 jj 8 v 8
row 0 jj 1 v 5
row 0 jj 2 v 5
row 0 jj 3 v 5
row 0 jj 4 v 5
row 0 jj 5 v 5
row 0 jj 6 v 5
row 0 jj 7 v 5
row 0 jj 8 v 5
row 0 jj 1 v 9
row 0 jj 2 v 9
row 0 jj 3 v 9
row 0 jj 4 v 9
row 0 jj 5 v 9
row 0 jj 6 v 9
row 0 jj 7 v 9
row 0 jj 8 v 9
row 0 jj 0 v 4
row 0 jj 1 v 4
row 0 jj 3 v 4
row 0 jj 4 v 4
row 0 jj 5 v 4
row 0 jj 6 v 4
row 0 jj 7 v 4
row 0 jj 8 v 4
row 0 jj 0 v 7
row 0 jj 2 v 7
row 0 jj 3 v 7
row 0 jj 4 v 7
row 0 jj 5 v 7
row 0 jj 6 v 7
row 0 jj 7 v 7
row 0 jj 8 v 7
row 0 jj 0 v 8
row 0 jj 2 v 8
row 0 jj 3 v 8
row 0 jj 4 v 8
row 0 jj 5 v 8
row 0 jj 6 v 8
row 0 jj 7 v 8
row 0 jj 8 v 8
row 0 jj 0 v 9
row 0 jj 2 v 9
row 0 jj 3 v 9
row 0 jj 4 v 9
row 0 jj 5 v 9
row 0 jj 6 v 9
row 0 jj 7 v 9
row 0 jj 8 v 9

In [12]:
value = [[-1] * 9 for _ in range(9)]
possible = [[[True] * 10 for _ in range(9)] for _ in range(9)]

row = 0
for s in sudoku1:
    if len(s) != 9:
        print('length should be 9:', s)
    for col in range(9):
        if s[col] != ' ':
            v = int(s[col])
            value[row][col] = v       # replace the -1, to indicate that this cell is already given in the question
            for jj in range(9):
                if jj != col:
                    possible[row][jj][v] = False # mark other cells in the same row false on the same value
            for ii in range(9):
                if ii != row:
                    possible[ii][col][v] = False # mark other cells in the same column false on the same value
            gi = row // 3 * 3   ## top left (either 0/3/6) green square in class
            gj = col // 3 * 3   ## top left (either 0/3/6) green square in class
            for ii in range(3):
                for jj in range(3):
                    possible[gi + ii][gj + jj][v] = False # mark other cells in the same 3x3 grid false on the same value
    row += 1
    
# just printing the results
for row in range(9):
    for col in range(9):
        if value[row][col] == -1:
            print('(%d, %d): %s' % (row+1, col+1, ' '.join([str(v) for v in range(1, 10) if possible[row][col][v]])))

(1, 1): 4 6
(1, 2): 4 6
(1, 4): 4 5 6 8 9
(1, 5): 2 3 4 5 6 8 9
(1, 6): 2 4 5 9
(1, 8): 8
(1, 9): 9
(2, 1): 1 4 6
(2, 4): 4 6 7 8
(2, 5): 1 4 6 7 8
(2, 6): 1 4 7
(2, 9): 7
(3, 4): 7 9
(3, 5): 1 7 9
(3, 6): 1 7 9
(4, 3): 2
(4, 4): 4 6 9
(4, 5): 4 6 9
(4, 6): 4 9
(4, 7): 3 6
(5, 2): 6
(5, 3): 2 8
(5, 5): 5 6 7
(5, 7): 5 6
(5, 8): 2 6
(6, 1): 3 6 7
(6, 2): 3 6
(6, 5): 5 6 7
(6, 8): 6
(6, 9): 1 3 5
(7, 1): 1 2 4
(7, 5): 1 2 4
(7, 9): 2
(8, 1): 2 3 4
(8, 4): 4 5 9
(8, 5): 2 4 5 9
(8, 6): 2 4 5 9
(8, 9): 2 3 5
(9, 1): 1 2 3
(9, 3): 1 2
(9, 4): 5 7 8
(9, 5): 1 2 5 7 8
(9, 6): 1 2 5 7
(9, 7): 3 5 6
(9, 9): 2 3 5

In [ ]:
for row in range(1,10):
    for col in range(1,10):
        print("The possible candidates at row %s and col %s is %s" \
              (row, col, possible[row][col]))